body {

    background-image: url(treinBord.webp);
    background-repeat: no-repeat;
    background-position: top left;
}

#container {
    width: 930px;
    display: flex;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #000;
    opacity: 0.8;
    position: absolute;
    top: 149px;
    left: 133px;
    height: 330px;
}

#left {
    width: 240px;
    background-color: #f2f2f2;
    height: 328px;
    border: 2px solid #000;
    
}

#middle {
    width: 568px;
    height: 332px;
    background-color: rgb(0, 0, 106);
    padding: 35px;
    box-sizing: border-box;
    border: 2px solid #000;
}

#right {
    width: 120px;
    height: 328px;
    background-color: rgb(0, 0, 106);
    border: 2px solid #000;
    position: absolute;
    top: 0px;
    left: 806px;
}

#spoornummerVierkant {
    background-color: #f2f2f2;
    width: 94px;
    height: 94px;
    position: absolute;
    left: 13px;
    top: 33px;



}

#kleinSpoorNummerVierkant {
    background-color: rgb(0, 0, 106);
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 0;
}

#spoorNummer18 {
    font-size: 67px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    left: 4px;
    top: 21px;
    letter-spacing: -7px;
    color: rgb(0, 0, 106);

}

#spoorletterB {
    font-size: 31px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    left: 69px;
    top: 31px;
    letter-spacing: -7px;
    color: rgb(0, 0, 106)
}

#tekstSpoor {
    font-size: 10px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    left: 22px;
    top: 5px;
    letter-spacing: 0px;
    color: rgb(0, 0, 106);
}

#reizigersInfoVierkant {
    background-color: #f2f2f2;
    width: 474px;
    height: 241px;
    position: absolute;
    left: 282px;
    top: 32px;
}

#nsLogo {
    height: 95px;
    width: 137px;
    position: absolute;
    left: 364px;
    top: -28px;
    mix-blend-mode: multiply;
    /*zorgt ervoor dat de achtergrond van het ns logo wegvalt in de achtergrond*/
}

#intercityTekst {
    font-size: 40px;
    font-weight: bold;
    position: absolute;
    left: 241px;
    top: -2px;
    color: rgb(0, 0, 106);
    letter-spacing: -1px;
}

#nummer1 {
    font-size: 37px;
    color: rgb(0, 0, 106);
    font-weight: bold;
    position: absolute;
    left: 9px;
    top: -1px;
}

#tekstMinuut {
    font-size: 25px;
    color: rgb(0, 0, 106);
    font-weight: bold;
    position: absolute;
    left: 37px;
    top: 9px;
}

#bestemming {
    font-size: 39px;
    color: rgb(0, 0, 106);
    font-weight: bold;
    position: absolute;
    left: 9px;
    top: 40px;
    letter-spacing: 0px;
}

#route {
    font-size: 25px;
    color: rgb(0, 0, 106);
    font-weight: bold;
    position: absolute;
    left: 8px;
    top: 89px;
    letter-spacing: -1px;
    line-height: 37px;
    width: 405px;
}

#volgendeTreinBlok {
    opacity: 1;
    background-color: rgb(15, 26, 117);
    height: 26px;
    width: 476px;
    position: absolute;
    left: -2px;
    top: 242px;
    border-bottom-left-radius: 17px;
}

#volgendeTreinTekst {
    font-size: 20px;
    color: rgb(255, 255, 255);
    font-weight: bold;
    position: absolute;
    left: 12px;
    top: 1px;
    letter-spacing: -1px;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  
  display: flex;
  align-items: center;
  justify-content: center;
}

#klok {
  position: relative;
  width: 77vmin;
  height: 77vmin;
  border-radius: 10vmin;
  background: #fff;
  box-shadow: inset 0 1vmin 10vmin rgba(0,0,0,0.3), inset 0 0 20vmin 20vmin rgba(0,0,200,0.05);
  border: 2vmin solid #133481;

  opacity: 1;
  transition: all 0.2s;
}
body.loaded #klok {
  opacity: 1;
}

  #wijzer-uur,
  #wijzer-min,
  #wijzer-sec {
    position: absolute;
    z-index: 3;
    top: 50%;
    left: 50%;
    margin-left: -1.5vmin;
    width: 3vmin;
  }

  body.loaded #wijzer-uur,
  body.loaded #wijzer-min,
  body.loaded #wijzer-sec {
    transition: transform 1s;
  }

  #wijzer-uur,
  #wijzer-min {
    background: black;
    border-radius: 0 0 1.5vmin 1.5vmin;
  }

  #wijzer-uur,
  #wijzer-min,
  #wijzer-sec .line,
  #wijzer-sec .circle {
    box-shadow: -10px 5px 10px rgba(0,0,0,0.1);
  }

  #wijzer-uur {
    margin-top: -5vmin;
    height: 30vmin;

    transform-origin: 1.5vmin 5vmin;
  }

  #wijzer-min {
    margin-top: -10vmin;
    height: 43vmin;

    transform-origin: 1.5vmin 10vmin;
  }

  #wijzer-sec {
    margin-top: -5vmin;
    height: 40vmin;

    transform-origin: 1.5vmin 5vmin;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }
    #wijzer-sec:before {
      content: "";
      position: absolute;
      top: 4vmin;
      width: 2vmin;
      height: 2vmin;
      background: #990000;
      border-radius: 2vmin;
    }
    #wijzer-sec .line {
      background: #990000;
      width: 1vmin;
      height: 15vmin;
    }
    #wijzer-sec .line:first-child {
      height: 20vmin;
    }
    #wijzer-sec .line:last-child {
      height: 10vmin;
      border-bottom-left-radius: 100px;
      border-bottom-right-radius: 100px;
    }
    #wijzer-sec .circle {
      border: 1vmin solid #990000;
      border-radius: 100%;
      width: 4vmin;
      height: 4vmin;
    }

  #minuten {
    position: relative;
    z-index: 2;
    width: 100%;
    height: 100%;
  }
    #minuten .minuut {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -3vmin;
      margin-top: -0.5vmin;
      width: 6vmin;
      height: 1.5vmin;

      display: flex;
      align-items: center;
      justify-content: flex-end;
    }
    #minuten .minuut:before {
      content: "";
      display: block;
      background: #1441AD;
      width: 1vmin;
      height: 1vmin;
      border-radius: 3vmin
    }
    #minuten .minuut:nth-child(5n+1):before {
      width: 6vmin;
      height: 3vmin;
    }

  #logo {
    position: absolute;
    top: 68%;
    left: 50%;
    margin-left: -5vmin;
    width: 10vmin;
    height: 5vmin;
    background-image: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyAgIHhtbG5zOmRjPSJodHRwOi8vcHVybC5vcmcvZGMvZWxlbWVudHMvMS4xLyIgICB4bWxuczpjYz0iaHR0cDovL2NyZWF0aXZlY29tbW9ucy5vcmcvbnMjIiAgIHhtbG5zOnJkZj0iaHR0cDovL3d3dy53My5vcmcvMTk5OS8wMi8yMi1yZGYtc3ludGF4LW5zIyIgICB4bWxuczpzdmc9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiAgIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgICB4bWxuczpzb2RpcG9kaT0iaHR0cDovL3NvZGlwb2RpLnNvdXJjZWZvcmdlLm5ldC9EVEQvc29kaXBvZGktMC5kdGQiICAgeG1sbnM6aW5rc2NhcGU9Imh0dHA6Ly93d3cuaW5rc2NhcGUub3JnL25hbWVzcGFjZXMvaW5rc2NhcGUiICAgdmVyc2lvbj0iMS4xIiAgIHdpZHRoPSI1MzguMzI5NTMiICAgaGVpZ2h0PSIyMTAuMjYyNSIgICBpZD0ic3ZnMiIgICB4bWw6c3BhY2U9InByZXNlcnZlIiAgIGlua3NjYXBlOnZlcnNpb249IjAuNDguMSAiICAgc29kaXBvZGk6ZG9jbmFtZT0iQUpBWC5zdmciPjxzb2RpcG9kaTpuYW1lZHZpZXcgICAgIHBhZ2Vjb2xvcj0iI2ZmZmZmZiIgICAgIGJvcmRlcmNvbG9yPSIjNjY2NjY2IiAgICAgYm9yZGVyb3BhY2l0eT0iMSIgICAgIG9iamVjdHRvbGVyYW5jZT0iMTAiICAgICBncmlkdG9sZXJhbmNlPSIxMCIgICAgIGd1aWRldG9sZXJhbmNlPSIxMCIgICAgIGlua3NjYXBlOnBhZ2VvcGFjaXR5PSIwIiAgICAgaW5rc2NhcGU6cGFnZXNoYWRvdz0iMiIgICAgIGlua3NjYXBlOndpbmRvdy13aWR0aD0iNjQwIiAgICAgaW5rc2NhcGU6d2luZG93LWhlaWdodD0iNDgwIiAgICAgaWQ9Im5hbWVkdmlldzEyIiAgICAgc2hvd2dyaWQ9ImZhbHNlIiAgICAgZml0LW1hcmdpbi10b3A9IjAiICAgICBmaXQtbWFyZ2luLWxlZnQ9IjAiICAgICBmaXQtbWFyZ2luLXJpZ2h0PSIwIiAgICAgZml0LW1hcmdpbi1ib3R0b209IjAiICAgICBpbmtzY2FwZTp6b29tPSIwLjQyMDk2Nzc0IiAgICAgaW5rc2NhcGU6Y3g9IjI2OS4xNjQ3NSIgICAgIGlua3NjYXBlOmN5PSIxMDUuMTMxMjUiICAgICBpbmtzY2FwZTp3aW5kb3cteD0iMCIgICAgIGlua3NjYXBlOndpbmRvdy15PSIwIiAgICAgaW5rc2NhcGU6d2luZG93LW1heGltaXplZD0iMCIgICAgIGlua3NjYXBlOmN1cnJlbnQtbGF5ZXI9ImcxOCIgLz48bWV0YWRhdGEgICAgIGlkPSJtZXRhZGF0YTEzIj48cmRmOlJERj48Y2M6V29yayAgICAgICAgIHJkZjphYm91dD0iIj48ZGM6Zm9ybWF0PmltYWdlL3N2Zyt4bWw8L2RjOmZvcm1hdD48ZGM6dHlwZSAgICAgICAgICAgcmRmOnJlc291cmNlPSJodHRwOi8vcHVybC5vcmcvZGMvZGNtaXR5cGUvU3RpbGxJbWFnZSIgLz48ZGM6dGl0bGUgLz48L2NjOldvcms+PC9yZGY6UkRGPjwvbWV0YWRhdGE+PGRlZnMgICAgIGlkPSJkZWZzNiI+PGNsaXBQYXRoICAgICAgIGlkPSJjbGlwUGF0aDIwIj48cGF0aCAgICAgICAgIGQ9Im0gMCw4NDE4LjkgNTk1Mi43NSwwIEwgNTk1Mi43NSwwIDAsMCAwLDg0MTguOSB6IiAgICAgICAgIGlkPSJwYXRoMjIiICAgICAgICAgaW5rc2NhcGU6Y29ubmVjdG9yLWN1cnZhdHVyZT0iMCIgLz48L2NsaXBQYXRoPjwvZGVmcz48ZyAgICAgdHJhbnNmb3JtPSJtYXRyaXgoMS4yNSwwLDAsLTEuMjUsLTEwMy45OTgsNjMxLjMyMjUpIiAgICAgaWQ9ImcxMiI+PGcgICAgICAgdHJhbnNmb3JtPSJzY2FsZSgwLjEsMC4xKSIgICAgICAgaWQ9ImcxNCI+PGcgICAgICAgICBpZD0iZzE2Ij48ZyAgICAgICAgICAgY2xpcC1wYXRoPSJ1cmwoI2NsaXBQYXRoMjApIiAgICAgICAgICAgaWQ9ImcxOCI+PHBhdGggICAgICAgICAgICAgZD0ibSAyNjY2LjczLDQ3MTcuODYgYyAzOC4xMywwIDY2LjU3LC0xOS4wNiA5NS4xNywtNDcuMzcgbCA0ODQuNzksLTQ4NC42NCBjIDk1LjE2LC05NS4wMiAxOTkuNTgsLTE0Mi42OCAzNDIuMjUsLTE0Mi42OCBsIDkwMy4xNSwwIC0zMzIuNzMsLTMzMi43MiAtODQ2LjI1LDAgYyAtNDcuNTEsMCAtNzUuODEsOS41MyAtMTA0LjQsMzguMTIgbCAtNDg0Ljk0LDQ4NC42NCBjIC05NS4wMiw5NS4zMSAtMTk5LjQzLDE0Mi42OCAtMzQyLjExLDE0Mi42OCBsIC05MDMuMTUsMCAzMzIuNzMsMzQxLjk3IDg1NS40OSwwIHogbSAzMzIuODcsMTkwLjA0IGMgLTk1LjAyLDk1LjMyIC0yMDkuMjYsMTQyLjY4IC0zMzIuODcsMTQyLjY4IGwgLTk4OC42NCwwIC04NDYuMTA2LC04MzYuMTQgODQ2LjEwNiwtODQ1Ljk2IDQ3NS40LDAgLTY3NC45OCw2NzQuNjkgOTAzLjE1LDAgYyAzNy45OCwwIDc1Ljk2LC05LjUzIDEwNC41NiwtMzguMTIgTCAyOTcxLDM1MTAuODcgYyA5NS4wMiwtOTUuMDIgMjA5LjExLC0xNDIuMzkgMzMyLjczLC0xNDIuMzkgbCA5OTguMTcsMCA4MzYuNzIsODQ1Ljk2IC04MzYuNzIsODM2LjE0IC00ODQuNzksMCA2NzQuOTgsLTY3NC42OSAtOTAzLjE1LDAgYyAtMzguMTIsMCAtNjYuNDMsMTkuMDYgLTk1LjAzLDM3Ljg0IiAgICAgICAgICAgICBpZD0icGF0aDI0IiAgICAgICAgICAgICBzdHlsZT0iZmlsbDojMzMzMzk5O2ZpbGwtb3BhY2l0eToxO2ZpbGwtcnVsZTpldmVub2RkO3N0cm9rZTpub25lIiAgICAgICAgICAgICBpbmtzY2FwZTpjb25uZWN0b3ItY3VydmF0dXJlPSIwIiAvPjwvZz48L2c+PC9nPjwvZz48L3N2Zz4=);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;

  }