

body{
    
    background-image: url(treinBord.webp);
    background-repeat: no-repeat;
    background-position: top left;
}

#container{
    width: 936px;
    display: flex;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #000;
    opacity: 0.8;
    position: absolute;
    top: 149px;
    left: 133px;
}

#left{
    width: 240px;
    background-color: #f2f2f2;
    height: 335px;
    border: 2px solid #000;
}

#middle {
    width: 568px;
    height: 339px;
    background-color: rgb(0, 0, 106);
    padding: 35px;
    box-sizing: border-box;
    border: 2px solid #000;
}

#right{
    width:128px;
    height: 335px;
    background-color: rgb(0, 0, 106);
    border: 2px solid #000;
}
#spoornummerVierkant {
  background-color: #f2f2f2;
  width: 94px;
  height: 94px;
  margin-left: 14px;
  margin-top: 33px;


  #kleinSpoorNummerVierkant {
    background-color: rgb(0, 0, 106);
    width: 18px;
    height: 18px;
    margin-left: 0px;
    margin-top: -18px;
  }
}