body {

    background-image: url(treinBord.webp);
    background-repeat: no-repeat;
    background-position: top left;
}

#container {
    width: 936px;
    display: flex;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid #000;
    opacity: 0.8;
    position: absolute;
    top: 149px;
    left: 133px;
}

#left {
    width: 240px;
    background-color: #f2f2f2;
    height: 335px;
    border: 2px solid #000;
}

#middle {
    width: 568px;
    height: 339px;
    background-color: rgb(0, 0, 106);
    padding: 35px;
    box-sizing: border-box;
    border: 2px solid #000;
}

#right {
    width: 128px;
    height: 335px;
    background-color: rgb(0, 0, 106);
    border: 2px solid #000;
}

#spoornummerVierkant {
    background-color: #f2f2f2;
    width: 94px;
    height: 94px;
    position: absolute;
    left: 821px;
    top: 35px;



}

#kleinSpoorNummerVierkant {
    background-color: rgb(0, 0, 106);
    width: 18px;
    height: 18px;
    position: absolute;
    left: 0;
    top: 0;
}

#spoorNummer18 {
    font-size: 67px;
    text-align: center;
    font-weight: bold;
    position: absolute;
    left: 4px;
    top: 21px;
    letter-spacing: -7px;
    color: rgb(0, 0, 106);

}